.logo-slider-main-wrapper {
  img {
    width: 120px;
    height: 40px;
    margin: 20px;
    object-fit: contain;
    max-width: unset;
  }

  img:last-of-type {
    padding-left: 0;
  }

  .inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 5rem;
  }

  .wrapper {
    position: absolute;
    display: flex;
  }

  section {
    display: flex;
    animation: swipe 45s linear infinite backwards;
  }

  @keyframes swipe {
    0% {
      transform: translate(0);
    }

    100% {
      transform: translate(-100%);
    }
  }
}
