.Icon {
  animation: move 1s ease;
  @keyframes move {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(720deg);
    }
  }
}
.Icon2 {
  animation: move2 1s ease;
  @keyframes move2 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-720deg);
    }
  }
}

.content {
  overflow-y: hidden;
  max-height: 160px; /* approximate max height */
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(1, 1, 1, 1);
}

.closed {
  max-height: 0;
}
